/* 
    This style sheet stylizes the controls inside our
    CourseSiteBuilder JavaFX application, esplecially yesNoCancelDailog.
    Note that controls in the UI must have the same class 
    as those below in order to be rendered using those properties.

    Created on : Apr 11, 2015, 7:33:20 PM
    Author     : DnB
*/

.root{

  -fx-background-color: #ffffff;
  -fx-effect: dropshadow(three-pass-box,#231f20,0,0,0.5,0.5);

  -fx-font-family : "Myriad Pro";
  -fx-font-weight : bold;
  -fx-font-size : 13pt;
  
  
}

.paneStyle{

    -fx-border-color : #003f70;
    -fx-border-style: solid;
    -fx-border-radius : 8px;
    -fx-border-width : 4px;
    
    -fx-background-color : #ffffff;
    
    
    
    
}

.button{

    -fx-background-color : #ffffff;


    -fx-font-family : "Myriad Pro";
    -fx-font-weight : bold;
    -fx-font-size : 14pt;
    -fx-text-fill : #231f20;
}

.button:hover{
    
    
    -fx-text-fill : #94278f;
    
}


.heading_label{

    -fx-font-size : 20pt;
    -fx-text-fill: #231f20;
    -fx-font-family : "Myriad Pro";
    -fx-font-weight : bold;
}

.ask_label{
    -fx-font-size : 14pt;
    -fx-text-fill : #231f20;
    -fx-font-family : "Myriad Pro";
    -fx-font-weight:bold;
  
}

.textfield{
    -fx-font-family : "Myriad Pro";
    -fx-font-fill : #231f20;
    -fx-font-size : 15pt;
}

.combobox{
    
    -fx-background-color : #ffffff;
    -fx-border-color:#003f70;
    -fx-border-width:3px;
    -fx-border-style:solid;
    -fx-border-radius:5px;

    
}

.combobox .list-cell :hover{
    
    -fx-background-color : #003f70;
    -fx-text-fill : white;
    

    
}

.checkBox {
    
    -fx-font-family : "Myriad Pro";
    -fx-font-fill : #231f20;
}