/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2015, 11:14:31 PM
    Author     : DnB
*/

.screen{
    -fx-background-color : #ffffff;   
    
    -fx-border-color: #003f70;
    -fx-border-style: solid;
    -fx-border-radius: 5px 5px 5px 0px;
    -fx-border-width: 4px;
     
    
}

.heading{
    
    
  -fx-font-family : "Myriad Pro";
  -fx-font-weight : bold;
  -fx-font-size : 30pt;
  -fx-text-fill : black;
    
}

.search{
    
     -fx-font-family : "Myriad Pro";
    -fx-font-weight : bold;
     -fx-font-size : 20pt;
     -fx-text-fill: #231f20;
    
}

.radio{
    
    -fx-font-family : "Myriad Pro";
    -fx-font-weight : bold;
    -fx-font-size : 15pt;
    -fx-color : #aba8a3;
    -fx-shadow-highlight-color : #aba8a3;
    -fx-text-fill : #aba8a3;
    
     
}
.radio:selected{
    
    -fx-text-fill: #003f70;
    -fx-mark-color: #003f70;
    -fx-focus-color : #aba8a3;
    
    
   // -fx-base : #f0ec6b;
    
}

.button{
    
    -fx-background-color: #ffffff;
    
}

.outline{
    -fx-background-color:#ffffff;
    -fx-border-color: #003f70;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    
}

.textfieldStyle{
    
    -fx-font-size : 14pt;

    
    
}

.comboBoxStyle{
    
    -fx-background-color : #ffffff;
    -fx-border-color:#003f70;
    -fx-border-width:3px;
    -fx-border-style:solid;
    -fx-border-radius:5px;

    
}

.comboBoxStyle .list-cell :hover{
    
    -fx-background-color : #003f70;
    -fx-text-fill : white;
    

    
}

