/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2015, 12:40:32 AM
    Author     : DnB
*/

.root{
        -fx-background-color : #ffffff;

}
.toppane{
    -fx-background-color : #003f70;
    
}

.topbutton{
   
    -fx-background-color: #003f70;
    -fx-background-radius: 7px;
  //  -fx-effect: dropshadow(one-pass-box,#0888c4,3,0.0,0,4);
    
}

.topbutton:hover{
    
  -fx-effect: innershadow(gaussian,#ffffff,4,1.0,0,0);

    
}

.workscreen{
     -fx-background-color : #ffffff;
}

.bottombutton{
    
  -fx-background-color: #ffffff;

  -fx-background-radius: 0px 0px 7px 7px;
  
  -fx-border-color: #003f70;
  -fx-border-radius: 7px 7px 7px 7px;
  -fx-border-width: 4px 4px 4px 4px;
  -fx-border-style: solid;
 
  

}
.bottombutton:selected{
    -fx-border-color: #c9ff7f;
}

.bottomblank{
     -fx-background-color : #0064a1;
     -fx-spacing : 3px;
}

